<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>customer's login</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active"><a href="login.html">Login</a></li>
                        <li class="breadcrumb-item"><a href="forget_pwd.html">Forget Password</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>