{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Multikart - Register</title>
{% endblock %}    

{% include 'breadcrumb.html' %}
{% block content %}    
    <section class="register-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>create account</h3>
                    <div class="theme-card">
                        <form class="theme-form" method="POST">
                            {% csrf_token %}
                            {% include 'messages.html' %}
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="email">First Name</label>
                                    {{ form.first_name }}
                                </div>
                                <div class="col-md-6">
                                    <label for="review">Last Name</label>
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="email">email</label>
                                    {{ form.email }}
                                </div>
                                <div class="col-md-6">
                                    <label for="username">Username</label>
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="password1">Password</label>
                                    {{ form.password1 }}
                                </div>
                                <div class="col-md-6">
                                    <label for="password2">Confirm Password</label>
                                    {{ form.password2 }}
                                </div>
                            </div>
                            <div class="form-row">
                                <button type='submit' class="btn btn-solid">Create Account</button>
                                <span class="d-flex align-items-center" style="margin-left: 10px;">
                                    Do you have an account? <a style="color: var(--theme-deafult); margin-left: 5px; text-decoration: underline;"href="{% url 'login' %}"> Sign in</a>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}